<center><img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/></center>

<h1> Hackwagon Academy DS101 Lesson 7 </h1>
<h2>üêº Data Analysis with Pandas üêº</h2> 
<h3> Lesson Outline </h3>


- 1. [Pandas](#1)
    - 1.1 [Series](#1.1)
    - 1.2 [DataFrame](#1.2)
        - 1.2.1 [Manual Way](#1.2.1)
        - 1.2.2 [Pandas Way](#1.2.2)
    - 1.3 [Filtering](#1.3)
    - 1.4 [Statistical Operations](#1.4)
    - [Practice I](#P1)
    - 1.5 [Visualisation](#1.5)
        - 1.5.1 [Bar Chart](#1.5.1)
        - 1.5.2 [Line Chart](#1.5.2)
        - 1.5.3 [Scatter Plot](#1.5.3) 
    - [Practice II](#P2)
- 2. [Lazada Dataset](#2)
- 3. [Airbnb Dataset](#3)

<a id='1'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=25 align="left"><font color="salmon">&nbsp;1.</font><font color="salmon"> Pandas </font> </h2></a>

<i>"Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series."</i>

To know more about <b>pandas</b>, read the documentation here: http://pandas.pydata.org/pandas-docs/stable/

In [ ]:
import pandas as pd

<a id="1.1"> <h3>1.1 DataFrame </h3></a>

A two-dimensional, tabular data structure with labeled axes (rows and columns), and is the **primary** pandas data structure. You can think of a `DataFrame` as a spreadsheet in Python.
A `DataFrame` is made up of multiple `Series` objects stuck together vertically and horizontally. <br>

<a id="1.1.1"> <h4>1.1.1 Manual Way </h4></a>

Using a combination of lists and dictionaries
#### List of Lists

In [ ]:
data = [
    ['Alex', 20, 1050],
    ['Bob', 52, 1400],
    ['Cat', 23, 1690]
]

#### List of Dictionaries

In [ ]:
data = [
    {'name': 'Alex', 'age': 20, 'salary': 1050},
    {'name': 'Bob', 'age': 52, 'salary': 1400},
    {'name': 'Cat', 'age': 23, 'salary': 1690}
]

<a id="1.1.2"> <h4>1.2.2 From Dataset </h4></a>

With `pandas`, opening a file is simply just using the `.read_csv()` function. Download the <b>Graduates dataset</b> from elearn `"graduates-from-university-first-degree-courses-by-type-of-course_CLEAN.csv"`.

```python
pd.read_csv("filename.csv")
```

<a id="1.2"> <h3>1.2 Series </h3></a>

A `Series` == Row / Column of a `Dataframe`

- Extracting a column from a `Dataframe` is very similar to accessing data in a `dictionary`.

In [ ]:
numbers = [10,20,30,40]

#### Extracting a row (Series) from a DataFrame

We can extract a row using the `.loc[]` function where in the `[]` is the row number.

#### Extracting a column (Series) from a DataFrame

We can extract a column in a `DataFrame` by just calling the column header, similar to a dictionary.

<a id="1.3"> <h3>1.3 Filtering </h3></a>

We can filter for results within a `DataFrame` to get the data we want. 

We specify the column we want to isolate in the DataFrame, then specify the boolean condition we are looking for. For example, we want to find the `Females` in the `Sex` column. 

```python
df['sex'] == 'Females'

# or for multiple conditions, we link them by & (and) or | (or) symbols
# where each condition is surrounded by a ()

(df['sex'] == 'Females') & (df['type_of_course'] == 'Medicine')

```

This gives us a Boolean Series of multiple `True` and `False` values.

In [ ]:

#(df['sex'] == 'Females') | (df['type_of_course'] == 'Medicine')

We put this Boolean Series inside another `[]` to take out the data within the DataFrame. What this does is it only extracts the rows with the `True` value within the DataFrame. For example,

```python
df[df['sex'] == 'Females']

```

<b> It is important to note that this does not permanently alter or change the original DataFrame in any way. As such, all filtered data should be stored into another variable.</b>

<a id="1.4"> <h3>1.4 Statistical Operations</h3></a>

`Dataframes` and `Series` objects have many useful methods to help you compute statistics.

<table>
  <tr>
    <th>Statistical measure</th>
    <th>Dataframe method</th>
    <th>Series method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Mean</td>
    <td>df.mean()</td>
    <td>df['column_name'].mean()</td>
    <td>Returns the mean of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Median</td>
    <td>df.median()</td>
    <td>df['column_name'].median()</td>
    <td>Returns the median of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Standard Deviation</td>
    <td>df.std()</td>
    <td>df['column_name'].std()</td>
    <td>Returns the standard deviation of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Sum</td>
    <td>df.sum()</td>
    <td>df['column_name'].std()</td>
    <td>Returns the sum of all columns / the selected column</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>

<a id="P1"><h2><img src="https://cdn.shopify.com/s/files/1/1200/7374/products/book_aec28e76-52ec-44ab-bc01-41df1279c89f_550x825.png?v=1473897430" width=25 align="left"> <font color="darkorange"> &nbsp; Practice I </font><font color="skyblue"> * </font></h2></a>


#### Question 1

<b>How many `Females` students have taken `Law`?</b>

**Expected output:**

    2574

#### Question 2

<b>How many students have taken `Information Technology` between 2000 and 2014, both years inclusive?</b>

**Expected output:**

    9084

<a id="1.5"> <h3>1.5 Visualisation </h3></a>

<b>Pandas</b> interfaces beautifully with <b>Matplotlib</b> to provide us with a very high-level, easy-to-use application program interface (API).

<a id="1.5.1"> <h4>1.5.1 Bar Chart </h4></a>

We can create Bar Charts with pandas easily. Here we take <b>Alcohol Consumption By Country</b> this url: https://raw.githubusercontent.com/plotly/datasets/master/2010_alcohol_consumption_by_country.csv

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
url = "https://raw.githubusercontent.com/plotly/datasets/master/2010_alcohol_consumption_by_country.csv"

In [ ]:
#Fill up the parameters
df.iloc[:10].plot(
    kind=, 
    x=, 
    y=, 
    color=, 
    title=,
    ylim= 
)

<a id="1.5.2"> <h4>1.5.2 Line Chart </h4></a>

_The line chart is represented by a series of datapoints connected with a straight line. Line charts are most often used to visualize data that changes over time._

**Example**

`Apple Stock Price Data` 

source: https://raw.githubusercontent.com/plotly/datasets/master/2014_apple_stock.csv

In [ ]:
url = "https://raw.githubusercontent.com/plotly/datasets/master/2014_apple_stock.csv"

df = pd.read_csv(url)
display(df.head())


df['AAPL_x'] = pd.to_datetime(df['AAPL_x'])

<a id="1.5.3"> <h4>1.5.3 Scatterplot </h4></a>


_A scatter plot is a two-dimensional data visualization that uses dots to represent the values obtained for two different variables - one plotted along the x-axis and the other plotted along the y-axis._

**Example**
`Motor Cars Data`

source: https://raw.githubusercontent.com/plotly/datasets/master/mtcars.csv

In [ ]:
url = "https://raw.githubusercontent.com/plotly/datasets/master/mtcars.csv"

df = pd.read_csv(url)

display(df.head())

<a id="P2"><h2><img src="https://cdn.shopify.com/s/files/1/1200/7374/products/book_aec28e76-52ec-44ab-bc01-41df1279c89f_550x825.png?v=1473897430" width=25 align="left"> <font color="darkorange"> &nbsp; Practice II </font><font color="skyblue"> * </font></h2></a>

The following `Dataframe` holds data of countries' **life expectancies** and **GDP**.

Investigate and visualise (with matplotlib) the relationship between any pair of these variables with an appropriate chart.

In [ ]:
url = "https://raw.githubusercontent.com/plotly/datasets/master/bubble_chart_tutorial.csv"

# Step 1: Read dataset

# Step 2: Display the dataset

# Step 3: Plot the scatterplot

<a id='2'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=25 align="left"><font color="salmon">&nbsp;2.</font><font color="salmon"> Lazada Dataset </font> </h2></a>


<img src="https://s.yimg.com/ny/api/res/1.2/_qLpCqbdgKq0nnY3UDmI2w--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NzQ0O2g9Mzcy/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/87db61c8ea6d6fcc4122595bb0c0c2c5" width="300">

This dataset has been source from the Lazada marketplace, where we have above <b>36 thousand rows</b> of data to work with. <b>Each row represents one product</b>. Opening this file in Microsoft Excel would look like this:

<img src="https://i.imgur.com/E0QJP92.png" width="500">

We're going to do some simple analysis with these products and see what we can come up with.

#### Read Dataset

<h3>Descriptive Analytics </h3>

#### Question 1
How many items are more than $50?

#### Question 2
How many items are listed in <b>Singapore</b>, <b>Malaysia</b>, <b>Phillippines</b>?

#### Question 3

For the `category_1` of `Fashion`, how many items are for `Men` and how many items are for `Women`?

### Visualisation

####  Distribution of SG Category Level 1 Products

####  Distribution of MY Products

In [ ]:
# Code here:

####  Distribution of PH Products

In [ ]:
# Code here:

<a id='3'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=25 align="left"><font color="salmon">&nbsp;3.</font><font color="salmon"> Airbnb Dataset </font> </h2></a>

<img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c513.png" width="400">
<br>
</br>
<br>
</br>

<b>Welcome to your final project of Hackwagon Academy DS101! You've come a long way since the start of this course and if you've been on track with our exercises, you should find this doable. </b>

Airbnb is an online marketplace and hospitality service, enabling people to lease or rent short-term lodging including vacation rentals, apartment rentals, homestays, hostel beds, or hotel rooms. The company does not own any lodging; it is merely a broker and receives percentage service fees (commissions) from both guests and hosts in conjunction with every booking. In this project, we aim to use algorithms and libraries to mine the reviews people have submitted on Singapore AirBnB rentals in order to provide descriptive analytics.

<h4> Q1. List out each neighborhoods and their number of listings <font color='red'>(5 marks)</font></h4>

<i> Hint
1. Counting with dictionaries
</i>

<b>Expected Output:</b>

    When you search for ['TS17'], it should give you 342 counts.

<h4> Q2. List out each neighborhood and their average overall_satisfaction <font color='red'>(5 marks)</font> </h4>

<b>Note: You should filter out listings whose reviews are 0. </b>

<i> Hint
1. Create dictionary where key is the neighborhood_id and value is a list of overall_satisfaction
2. Create another dictionary to compute the average
</i>

<b>Expected Output:</b>
    
    When you search for ['TS17'], it should give you an average score of 2.859447004608295.

<h4> Q3. List out each neighborhood and their average price <font color='red'>(5 marks)</font></h4>

<i> Hint
1. Similar to previous question
</i>

<b>Expected Output:</b>

    When you search for ['TS17'], it should give you an average price of 95.5672514619883.

<h4> Q4. Plot a distribution of counts of the overall_satisfaction <font color='red'>(5 marks)</font></h4>

<b>Note: You should filter out listings whose reviews are 0. </b>

<i> Hint
1. Counting with dictionaries
2. Get a list of tuples with `.items()`
3. Create 2 lists: 
    - 1 for all the scores labels
    - 1 for all the counts 
4. Plot with the 2 lists
</i>

<b>Expected Output:</b>

<img src="https://i.imgur.com/bj0ecjO.png" width="300">

<h4> Q5. Plot a geographical representation of all of the listings in Singapore <font color='red'>(5 marks)</font></h4>

<i> Hint
1. Create a list for latitude
2. Create a list for longitude
3. Append each listing's latitude and logitude to the lists
4. Plot a scatter plot using both lists
</i>

<b>Expected Output:</b>

<img src='https://i.imgur.com/9Dp5HrD.png' width="300">