<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>

<h1> Hackwagon Academy - DS101 Extra Practice 1</h1>

<p>The following questions serve to strengthen your understanding in handling data from nested collections. The following collection structure are some of the common ways which people use to store their data for processing later on. </p>

### Q1 
<font color='red'><b>Run this cell first to get the `linked_data`</b></font>

In [ ]:
linked_data = [
    ['Rick Jones', 'Software Engineer', 909802],
    ['Marissa Meyer', 'COO', 9320809],
    ['Avril Ting', 'MD', 932846]
]

##### Q1a
Extract Marissa's salary and print her name + salary

**Expected output**: 
    
    Marissa Meyer has a salary of $ 9320809

In [ ]:
#Type your code below

##### Q1b
Change Marissa's salary in linked_data to 78973930 & print out her data

**Expected output**: 

    
    ['Marissa Meyer', 'COO', 78973930]

In [ ]:
#Type your code below

##### Q1c
Replace Avril Ting's entire data with the following ['Avril Tan', 'None', 0] & print `linked_data`

**Expected output**: 

    [
        ['Rick Jones', 'Software Engineer', 909802],
        ['Marissa Meyer', 'COO', 78973930],
        ['Avril Tan', 'None', 0]
    ]

In [ ]:
#Type your code below

##### Q1d
Add age data using the index method & print the `linked_data`. Age of the three person respectively: 20, 45, 55

Hint: Remember the_list[0] = 1000?

**Expected output**: 

    [
        ['Rick Jones', 'Software Engineer', 909802, 20],
        ['Marissa Meyer', 'COO', 78973930, 45],
        ['Avril Tan', 'None', 0, 55]
    ]

In [ ]:
#Type your code below

### Q2
<font color='red'><b>Run this cell first to get the `linked_data`</b></font>

In [ ]:
linked_data = [{'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
               {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
               {'Name':'Avril Ting', 'Job':'MD', 'Salary':932846}]

##### Q2a
Extract Marissa's salary and print her name + salary

**Expected output**: 
    
    Marissa Meyer has a salary of $ 9320809

In [ ]:
#Type your code below

##### Q2b
Change Marissa's salary in linked_data to 78973930 & print out her data

**Expected output**: 
    
    { 
        'Name':'Marissa Meyer', 
        'Job':'COO', 
        'Salary':78973930
    }

In [ ]:
#Type your code below

##### Q2c
Replace Avril Ting's entire data with the following `{'Name':'Avril Tan', 'Job':'None', 'Salary':0}` & print `linked_data`

**Expected output**: 

    [
        {
            'Name':'Rick Jones', 
            'Job':'Software Engineer', 
            'Salary':909802
        },
        {
            'Name':'Marissa Meyer', 
            'Job':'COO', 
            'Salary':78973930
        },
        {
            'Name':'Avril Tan', 
            'Job':'None', 
            'Salary':0
        }
    ]

In [ ]:
#Type your code below

##### Q2d
Add age data using the index method & print the `linked_data`. Age of the three person respectively: 20, 45, 55

Hint: Remember dict['key'] = 1000?

Expected output:

    [
        {
            'Name':'Rick Jones', 
            'Job':'Software Engineer', 
            'Salary':909802, 
            'age':20
        },
        {
            'Name':'Marissa Meyer', 
            'Job':'COO', 
            'Salary':78973930, 
            'age':45
        },
        {
            'Name':'Avril Tan', 
            'Job':'None', 
            'Salary':0, 
            'age':55
        }
    ]

In [ ]:
#Type your code below

### Q3
<font color='red'><b>Run this cell first to get the `Department_Employee_data`</b></font>

In [ ]:
Department_Employee_data= [{'Purchase': ['John', 'Avery', 'Obama'], 'Sales': ['Orea', 'Stark']},
                           {'Purchase': [2000, 4000, 10000], 'Sales': [2344, 32442]}]

#### Q3a
Extract Orea's salary and print her name + salary

**Expected output**: 
    
    Orea has a salary of $ 2344

In [ ]:
#Type your code below

#### Q3b
Change Orea's salary to 2398 and print the entire Sales department's salary

**Expected output**: 
    
    [2398, 32442]

In [ ]:
#Type your code below