<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>

<h1>Hackwagon Academy - DS101 Lab 3</h1>
<hr>
This lab exercise consists of 10 questions, with each correct answer to be awarded 2 marks, totalling up to 20 marks.

Attempt but minor syntax errors are awarded half the mark.

In [ ]:
#Before you start, please perform the following 2 steps:
#1. Rename the file to <First_Name>_<Last_Name>_DS101_Lab_1 e.g. john_doe_DS101_Lab_1

#2. Fill in your details here:
#Name                    : Muhammad Ikhwan Bin Wahid

#Start of Course Class(Edit accordingly): 16 Jul 2018 12.15pm
# FOR TA/INSTRUCTOR 
# Total Marks:  / 20

## Warm Up
### Question 1

Using the `range` function, print out the numbers 1 to 10.

Expected output:
    
    1
    2
    3
    4
    5
    6
    7
    8
    9
    10

In [2]:
#Write your code below
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

### Question 2
Create a list of numbers containing 1 to 10 using either a `for` or `while` loop. Please <b>do not</b> be cheeky by doing this:

    x = [1,2,3,4,5,6,7,8,9,10]

**Expected output**

    [1,2,3,4,5,6,7,8,9,10]

In [3]:
#Write your code below
new_list=[]
for i in range(1,11):
    new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Loop Applications 

Use the CITU Framework to solve each of your problems.

1. <b>Create</b> the results container
2. <b>Iterate</b> the input data/list
3. <b>Test</b> conditions of each value
4. <b>Update</b> the results container when condition is fulfilled

### Question 3
Imagine right now you are working at DBS, and you are provided with the following data of deposit amount by each client. Make use of an iterative device (`for` or `while` loop) to find and print out the <b>highest amount. </b> Do not use in-built functions e.g (`max`)

**Expected output:**
    
    9480938.2

In [5]:
data = [73284, 8784.3, 9480938.2, 984958.3, 24131, 45789, 734987, 23545.3, 894859.2, 842758.3]

#Write your code below
#container we want is a print out 
highest_amount=0
#compare each value in data with highest amount
#if value greater then highest amount, replace it to be highest value
for num in data:
    if(num>highest_amount):
        highest_amount= num
print(highest_amount)

9480938.2

### Question 4
Imagine right now you are working at DBS, and you are provided with the following data of deposit amount by each client. 

Your task: Store any deposit amounts <b>larger than 50000</b> in a seperate list `high_networth`. 

Make use of an iterative device (For or while loop) to filter based on the mentioned condition, and store those amounts that makes the cut into the list. 

<i> Hint: Remember the append method? </i>

**Expected output:**
    
    [73284, 9480938.2, 984958.3, 734987, 894859.2, 842758.3]

In [6]:
data = [73284, 8784.3, 9480938.2, 984958.3, 24131, 45789, 734987, 23545.3, 894859.2, 842758.3]
high_networth = []

#Write your code below
# need to test if each value is greater then 50000
# if yes, add it into list
for num in data:
    if(num> 50000):
        high_networth.append(num)
print(high_networth)

[73284, 9480938.2, 984958.3, 734987, 894859.2, 842758.3]

### Question 5:  

To further improve its database, DBS has changed the way in which it stores its data. Every data is now stored in the form of a dictionary, with the key being the client's name, and the corresponding value being his networth. 

Make use of an iterative device (For or while loop) to find and return the <b>name of the client with the highest networth.</b> 

<i> Hint: To iterate a dictionary you have to use .items() and it gives you the key,value pair each iteration. </i>

**Expected output:**
    
    Uee has the highest networth at $9480938.2

In [140]:
data = {
    'Jeremy':73284, 
    'Hansel':8784.3, 
    'Uee':9480938.2, 
    'Seolhyun':984958.3, 
    'Ketsuno Ana':24131, 
    'Trump':45789
}

#Write your code below   
#output is a print of user and amount
#first assume one user has the highest networth
highest_networth = data["Jeremy"]
# extract out the key, as well as the amount - use.items()
#find out which user has the most amount 
for name,value in data.items():
    if value > highest_networth:
        highest_networth = value
        print(name, "has the highest networth at $"+str(highest_networth))

Uee has the highest networth at $9480938.2

### Question 6 

DBS has further improved its database. And you can observe that DBS now has more information about her clients. Make use of an iterative device (For or while loop) to find the <b>average salary among all her clients.</b> 

<i>Hint: Go back to your lab 2 consolidation question 2 to revise how to access data from a nested list of dictionary. Also, remember the `round()` function.</i>

**Expected output:**

    Average salary amongst all clients is $3721152.33

In [142]:
DBS = [
    {'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
    {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
    {'Name':'Avril Ting', 'Job':'MD', 'Salary':932846}
]
# output will be a print of the average amount
total = 0
#extract salary from each individual
#update total for every itiration
# average = total salary/ number of people
for value in DBS:
    salary= value['Salary']
    total +=salary
average= round(total/len(DBS),2)
print("Average salary amongst all clients is $"+str(average))

Average salary amongst all clients is $3721152.33

## Importing Data From A File
The next two questions will be the <b>first time</b> you are using a [dataset](https://data.gov.sg/dataset/public-transport-utilisation-average-public-transport-ridership) from the Singapore government's open data portal at Data.gov.sg. The data consists of the average ridership of Singapore's public transport system, in 4 different types: Bus, MRT, Taxi, LRT. 

Below is a snippet/preview of how the data looks like in Microsoft Excel: 

<img src="https://i.imgur.com/Z4Qo9u3.png" width="300">

After running the next cell, you will get a <b>LIST</b> of <b>DICTIONARIES</b>, `public_transport_ridership`,that looks like this:
```python
    [
        {
            'year': 1995,
            'type_of_public_transport': 'MRT',
            'average_ridership': 740000
        },
        {
            'year': 1995, 
            'type_of_public_transport': 'LRT', 
            'average_ridership': 0
        },
        {
            'year': 1995,
            'type_of_public_transport': 'Bus',
            'average_ridership': 3009000
        },
        ....
    ]
```
There are a total of 88 rows of data in this list of dictionaries, i.e 88 dictionaries.  


<font color="red"><b>Do not be alarmed by the next codes you see.</b></font> You only have to execute this next cell by pressing <b>`SHIFT-ENTER` or `SHIFT-RETURN` or the`Run Button`. </b>

In [70]:
import csv

# an empty list to store each row of data
public_transport_ridership = []

with open('public-transport-utilisation-average-public-transport-ridership.csv', encoding='utf-8', newline='') as file:
    reader = csv.DictReader(file, delimiter = ',')
    
    for row in reader:
        # changes the string to int
        row['year'] = int(row['year'])
        row['average_ridership'] = int(row['average_ridership'])
        
        # adds 1 row of data to the list
        public_transport_ridership.append(dict(row))
    
# previews the first 5 rows
public_transport_ridership[:5]

[{'year': 1995,
  'type_of_public_transport': 'MRT',
  'average_ridership': 740000},
 {'year': 1995, 'type_of_public_transport': 'LRT', 'average_ridership': 0},
 {'year': 1995,
  'type_of_public_transport': 'Bus',
  'average_ridership': 3009000},
 {'year': 1995, 'type_of_public_transport': 'Taxi', 'average_ridership': 0},
 {'year': 1996,
  'type_of_public_transport': 'MRT',
  'average_ridership': 850000}]

### Question 7
Using the `public_transport_ridership` list created earlier, find the year with the <b>highest</b> average ridership for <b>Taxis</b>.

Expected output:
    
    2014 has the highest Taxi ridership with an average of 1020000 riders

In [143]:
#Write your code below
#output is print out of year with highest Taxi ridership
#start off by assuming Taxi ridership is zero,highest 
#extract taxi ridership from library
highest_taxi_ridership = 0
highest_year = 1992
#compare ridership in each year
#update highest taxi ridership year
for value in public_transport_ridership:
    transport= value['type_of_public_transport']
    ridership= value['average_ridership']
    year     = value['year']
    if transport == 'Taxi':
        if ridership > highest_taxi_ridership:
            highest_taxi_ridership = ridership
            highest_year = year
print(highest_year,"has the highest Taxi ridership with an average of",highest_taxi_ridership, "riders")

2014 has the highest Taxi ridership with an average of 1020000 riders

### Question 8
Using the `public_transport_ridership` list created earlier, <b>between 1995 to 2010</b>, find the year with the <b>highest</b> average ridership for <b>Buses</b>.

Expected output:
    
    Between 1995 to 2010, 2001 has the highest Bus ridership with an average of 3281000 riders

In [138]:
#Write your code below
#output is print of highest bus ridership between 1995,2000
#extract data from 1995-2000
#extract out bus ridership
#assume year with highest riders is 1995, with assumed start number 0
highest_year = 1995
highest_rider= 0
for value in public_transport_ridership:
    transport= value['type_of_public_transport']
    ridership= value['average_ridership']
    year     = value['year']
    if 1995<= year<=2010:       #no need think so much here just use operators instead of creating new list
        if transport =="Bus":
            if ridership> highest_rider:
                highest_rider= ridership
                highest_year = year
print("Between 1995 to 2010,",highest_year, "has the highest Bus ridership with an average of",highest_rider,"riders")

Between 1995 to 2010, 2001 has the highest Bus ridership with an average of 3281000 riders

## Debugging

### Question 9
Another newbie to programming wrote the following piece of code to check if <b>highest salary</b> from the database. However, her codes were met with syntax, logic bugs and exceptions. 

**Expected Output:**

    Marissa Meyer has the highest salary with $9320809 as a COO

In [144]:
DBS = [
    {'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
    {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
    {'Name':'Avril Ting', 'Job':'MD', 'Salary':932846}
]
highest_salary= 909802
highest_name= "Rick Jones"
highest_job ='Software Engineer'
for row in DBS:
    name = row['Name']
    job = row['Job']
    salary = row['Salary']  
    if salary > highest_salary:
        highest_salary = salary
        highest_name = name
        highest_job = job
            
print(highest_name, "has the highest salary with $"+str(highest_salary)," as a " ,highest_job)

Marissa Meyer has the highest salary with $9320809  as a  COO

### Question 10
Another newbie to programming wrote the following piece of code to find the <b>average</b> networth of the data. However, his codes were met with syntax, logic bugs and exceptions. 

**Expected Output:**

    The average networth is $1769647.47

In [59]:
data = {
    'Jeremy':73284, 
    'Hansel':8784.3, 
    'Uee':9480938.2, 
    'Seolhyun':984958.3, 
    'Ketsuno Ana':24131, 
    'Trump':45789
}
all_salary= 0
for name,value in data.items():
    all_salary += value

average = round(all_salary/len(data),2)
print("The average networth is $",average)

The average networth is $ 1769647.47