<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>

<h1> Hackwagon Academy - DS101 Week 2 Extra Practice ANSWERS</h1>

This notebook consists of <b>ANSWERS</b> to DS101 Week 2 Extra Practice. Do give them a try first before looking at this notebook!

## Part I: Coding Practice (Nested List and Dictionary)

<p>The following questions serve to strengthen your understanding in handling data from nested collections. The following collection structure are some of the common ways which people use to store their data for processing later on. </p>

### Question 1 (Nested List)
<font color='red'><b>Run this cell first to get the `linked_data`</b></font>

In [1]:
linked_data = [
    ['Rick Jones', 'Software Engineer', 909802],
    ['Marissa Meyer', 'COO', 9320809],
    ['Avril Ting', 'MD', 932846]
]

##### Q1a
Extract Marissa's salary and print her name + salary

**Expected output**: 
    
    Marissa Meyer has a salary of $ 9320809

In [2]:
#Q1a) list uses [] and index (numbers) to READ data within a list

name = linked_data[1][0] #retrieve name from row index 1 and column index 0
salary = linked_data[1][2] #retrieve salary from row index 1 and column index 2
print(name, "has a salary of $", salary)

Marissa Meyer has a salary of $ 9320809

##### Q1b
Change Marissa's salary in linked_data to 78973930 & print out her data

**Expected output**: 

    
    ['Marissa Meyer', 'COO', 78973930]

In [7]:
#Q1b) list uses [] and index (numbers) and the = sign to UPDATE data within a list

linked_data[1][2] = 78973930 #edit directly from row index 1 column index 2
print(linked_data[1])

['Marissa Meyer', 'COO', 78973930, 45]

##### Q1c
Replace Avril Ting's entire data with the following ['Avril Tan', 'None', 0] & print `linked_data`

**Expected output**: 

    [
        ['Rick Jones', 'Software Engineer', 909802],
        ['Marissa Meyer', 'COO', 78973930],
        ['Avril Tan', 'None', 0]
    ]

In [5]:
#Q1c) list uses [] and index (numbers) and the = sign to UPDATE data within a list

linked_data[2] = ['Avril Tan', 'None', 0] #edit the ENTIRE row index 2
print(linked_data)

[['Rick Jones', 'Software Engineer', 909802], ['Marissa Meyer', 'COO', 78973930], ['Avril Tan', 'None', 0]]

##### Q1d
Add age data using the index method & print the `linked_data`. Age of the three person respectively: 20, 45, 55

Hint: Remember the_list[0] = 1000?

**Expected output**: 

    [
        ['Rick Jones', 'Software Engineer', 909802, 20],
        ['Marissa Meyer', 'COO', 78973930, 45],
        ['Avril Tan', 'None', 0, 55]
    ]

In [6]:
#Q1d) list uses .append() to ADD data within a list

linked_data[0].append(20) #append 20 into row index 0
linked_data[1].append(45) #append 45 into row index 1
linked_data[2].append(55) #append 55 into row index 2
print(linked_data)

[['Rick Jones', 'Software Engineer', 909802, 20], ['Marissa Meyer', 'COO', 78973930, 45], ['Avril Tan', 'None', 0, 55]]

### Question 2 (Nested Dictionary)
<font color='red'><b>Run this cell first to get the `linked_data`</b></font>

In [12]:
linked_data = [{'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
               {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
               {'Name':'Avril Ting', 'Job':'MD', 'Salary':932846}]

##### Q2a
Extract Marissa's salary and print her name + salary

**Expected output**: 
    
    Marissa Meyer has a salary of $ 9320809

In [13]:
#Q2a) dictionary uses [] and index (numbers) to READ data within a dictionary

name = linked_data[1]['Name'] #retrieve name from row index 1 and from dictionary using the key, "Name"
salary = linked_data[1]['Salary'] #retrieve salary from row index 1 and from dictionary using the key, "Salary"
print(name, "has a salary of $", salary)

Marissa Meyer has a salary of $ 9320809

##### Q2b
Change Marissa's salary in linked_data to 78973930 & print out her data

**Expected output**: 
    
    { 
        'Name':'Marissa Meyer', 
        'Job':'COO', 
        'Salary':78973930
    }

In [14]:
#Q2b) dictionary uses [] and key (string) and the = sign to UPDATE data within a dictionary

linked_data[1]['Salary'] = 78973930 #edit directly from row index 1 and from dictionary using the key, "Salary"
print(linked_data[1])

{'Name': 'Marissa Meyer', 'Job': 'COO', 'Salary': 78973930}

##### Q2c
Replace Avril Ting's entire data with the following `{'Name':'Avril Tan', 'Job':'None', 'Salary':0}` & print `linked_data`

**Expected output**: 

    [
        {
            'Name':'Rick Jones', 
            'Job':'Software Engineer', 
            'Salary':909802
        },
        {
            'Name':'Marissa Meyer', 
            'Job':'COO', 
            'Salary':78973930
        },
        {
            'Name':'Avril Tan', 
            'Job':'None', 
            'Salary':0
        }
    ]

In [15]:
#Q2c) dictionary uses [] and key (string) and the = sign to UPDATE data within a dictionary

linked_data[2]['Name'] = 'Avril Tan' #edit directly from row index 2 and from dictionary using the key, "Name"
linked_data[2]['Job'] = 'None' #edit directly from row index 2 and from dictionary using the key, "Job"
linked_data[2]['Salary'] = 0 #edit directly from row index 2 and from dictionary using the key, "salary"
print(linked_data)

[{'Name': 'Rick Jones', 'Job': 'Software Engineer', 'Salary': 909802}, {'Name': 'Marissa Meyer', 'Job': 'COO', 'Salary': 78973930}, {'Name': 'Avril Tan', 'Job': 'None', 'Salary': 0}]

##### Q2d
Add age data using the index method & print the `linked_data`. Age of the three person respectively: 20, 45, 55

Hint: Remember dict['key'] = 1000?

Expected output:

    [
        {
            'Name':'Rick Jones', 
            'Job':'Software Engineer', 
            'Salary':909802, 
            'age':20
        },
        {
            'Name':'Marissa Meyer', 
            'Job':'COO', 
            'Salary':78973930, 
            'age':45
        },
        {
            'Name':'Avril Tan', 
            'Job':'None', 
            'Salary':0, 
            'age':55
        }
    ]

In [16]:
#Q2d) list uses .append() to ADD data within a list

linked_data[0]['age'] = 20 #add 20 into row index 0 into the dictionary with a key titled, "age"
linked_data[1]['age'] = 45 #add 45 into row index 1 into the dictionary with a key titled, "age"
linked_data[2]['age'] = 55 #add 55 into row index 2 into the dictionary with a key titled, "age"
print(linked_data)

[{'Name': 'Rick Jones', 'Job': 'Software Engineer', 'Salary': 909802, 'age': 20}, {'Name': 'Marissa Meyer', 'Job': 'COO', 'Salary': 78973930, 'age': 45}, {'Name': 'Avril Tan', 'Job': 'None', 'Salary': 0, 'age': 55}]

### Question 3 (Nested List and Dictionary)
<font color='red'><b>Run this cell first to get the `Department_Employee_data`</b></font>

In [18]:
Department_Employee_data= [{'Purchase': ['John', 'Avery', 'Obama'], 'Sales': ['Orea', 'Stark']},
                           {'Purchase': [2000, 4000, 10000], 'Sales': [2344, 32442]}]

#### Q3a
Extract Orea's salary and print her name + salary

**Expected output**: 
    
    Orea has a salary of $ 2344

In [19]:
#Q3a) list uses [] and index (numbers) to READ data within a list while dictionary uses [] and index (numbers)

#to READ data within a dictionary
name = Department_Employee_data[0]['Sales'][0] #retrieve from row index 0, key "Sales" and element index 0
salary = Department_Employee_data[1]['Sales'][0] #retrieve from row index 1, key "Sales" and element index 0
print(name,"has a salary of",salary)

Orea has a salary of 2344

#### Q3b
Change Orea's salary to 2398 and print the entire Sales department's salary

**Expected output**: 
    
    [2398, 32442]

In [20]:
#Q3b) list uses [] and index (numbers) and the = sign to UPDATE data within a list while 

#dictionary uses [] and key (string) and the = sign to UPDATE data within a dictionary
Department_Employee_data[1]['Sales'][0] = 2398 #edit directly on row index 1, key "Sales" and element index 0
print(Department_Employee_data[1]['Sales'])

[2398, 32442]

## Part II: Multiple Choice Questions


    (Question 4) 
      Answer: 4
      Because in dictionary keys are unqiue. When you have second key with a different value. 
      The value of the second key will overwrite the value of the first key.
      
    (Question 5) 
      Answer: 4
      += will allow you to add value on top of the current value
      since our key, ["vincent"] was originally 20, the code += 10, will add 10 on top of 20. Thus ["vincent"] is now 30
      
    (Question 6) 
      Answer: 1
      As x is 2. The first if condition will be fulfilled, which prints "1". This will also ignore the else since if is true.
      And the secoond if condition will also be fulfilled, which prints "2". This will also ignore the else since if is true.
      Lastly, since print(4) is outside of the if else block. It will get printed no matter what happens
      
    (Question 7) 
      Answer: 3
      nothing will be printed. As "12345678" is NOT the same as ["12345678"]. But if you type
      if "12345678" in ["12345678"]:
      The if condition will be true, as "12345678" is indeed within the list, ["12345678"].
      
    (Question 8) 
      Answer: 3
      It is a keyerror. Keyerror means when you are trying to use a key that does NOT exist within the dictionary to
      retrieve a value from the dictionary.
        
    (Question 9) 
      Answer: 3
      We often see students mistaken key and index with dictionary and list even on later labs. Some students like to use 
      key on list and index on dictionary. Be extra careful on your variable type always. It could be misleading sometimes.
      It is a keyerror. Keyerror means when you are trying to use a key that does NOT exist within the dictionary to
      retrieve a value from the dictionary.
      
    (Question 10) 
      Answer: 2
      We also often see students mistaken to use .append() on dictionary. When you are supposed to just type
      dictionary_name [key] = value
      to append a value into a specific key in dictionray (no matter whether the exist already exist or not)
      
    (Question 11) 
      Answer: 2
      .append(), .extend() and .remove() are all functions of list. You shouldn't be using them on dictionary or even tuples
      
    (Question 12) 
      Answer: 4
      Another classic example of mistaking key and index. list uses index.
      
    (Question 13) 
      Answer: 1
      if statements must always always always ends with a : 
      
    (Question 14) 
      Answer: 2
      There isn't any error, but from here we can learn that, if only an integer with no signs (e.g == , <= or >) 
      The if condition is still True. Therefore, any integer placed into the if condition will be treated as True.
      This probably might NOT be the exactly your intention. Since, whenever we use if, we would like to check something.
      
    (Question 15)
      Answer: 2
      So, apparently strings are also treated as True always. Becareful of these!
        
    (Question 16)
      Answer: 3
      You can NEVER start a elif block or a else block without the if block.
      possible ones are as follows, 
      1. just a if block
      2. if block with a elif block
      3. if block with a else block
      4. if block with a elif block and a else block
      4. if block with many elif blocks and a else block
        
    (Question 17)
      Answer: 3
      Even though, there's already a if block before the else block. The code still did not work.
      The reason is because, the else block is NOT on the same level as the if block.
      In fact, the else block is WITHIN the if block.
      Take extra note on the indentation. you will see that the else block is one extra indentation more than the if block
      Therefore, it will NOT treat the previous if block as it's starting point.
      
    (Question 18)
      Answer: 4
      After every if / elif / else statement, the following line MUST be indented. Take note of the error message. 
      It would be useful when you are coding long codes and sometimes forgot where you coding.
      
    (Question 19)
      Answer: 3
      You indent something for no reason. Take note of the error message. It would be useful when you are coding long codes 
      and sometimes forgot where you coding.
      
    (Question 20)
      Answer: 2
      == is equality sign (means to check with something is the same as the other)
      = is assignemnt sign (means you assignment the right side (value) to the left side (variable name))