<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>
<h1> Hackwagon Academy: DS101 Extra Practice 3 </h1>

### Question 1

Print out the names of all students in this dataset

<b>Expected Output:</b>

    KT
    John
    Henry
    Mark

In [ ]:
data = {
    'results': {
        'name': 'Classes',
        'data': [
            {
                'Class': 'A',
                'Students': ['KT', 'John']
            },
            {
                'Class': 'A',
                'Students': ['Henry', 'Mark']
            }
        ]
    }
}

### Question 2

Print the total score of teachers and students in data, broken down by occupation

<b>Expected Output:</b>


    {
        'teacher': 4,
        'student': 15
    }

In [ ]:
data = {
    'kt': { 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    'john': {'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    'henry': { 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    'mark': { 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    'mark': { 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
}

### Question 3

Print the average score of teachers and students in data, broken down by occupation

<b>Expected Output:</b>

    {
        'student': 7.5, 
        'teacher': 2.0
    }

In [ ]:
data = {
    'kt': { 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    'john': {'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    'henry': { 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    'mark': { 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    'mark': { 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
}

### Question 4

<h3> Largest palindrome product </h3>

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.

Find the largest palindrome made from the product of two 3-digit numbers.

**Expected Answers:**

    906609

### Question 5

<h3> Print a Christmas tree </h3>

For a given n, where n is odd, print out a christmas tree that looks like this

When **n**  = 3

&nbsp;&nbsp;\*<br>
&nbsp;\*\*\* <br>
\*\*\*\*\* <br>

When **n**  = 5

&nbsp;&nbsp;&nbsp;&nbsp;\*<br>
&nbsp;&nbsp;&nbsp;\*\*\* <br>
&nbsp;&nbsp;\*\*\*\*\* <br>
&nbsp;\*\*\*\*\*\*\* <br>
\*\*\*\*\*\*\*\*\* <br>

When **n** = 1 <br>

*

In [ ]:
n = 11